@page "/user/{id:int}"
@using Faith.Shared.Users
@inject IUserService FakeUserService

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>@user.Id</h3>
    <p>@nameof(user.FirstName): @user.FirstName</p>
    <p>@nameof(user.LastName): @user.LastName</p>
    <p>@nameof(user.DateOfBirth): @user.DateOfBirth</p>
}

@code {
    private UserDto.Detail user;
    [Parameter] public int Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        user = await FakeUserService.GetDetailAsync(Id);
    }    
} 