@page "/post/{id:int}"
@using Faith.Shared.Posts
@inject IPostService PostService
@inject NavigationManager NavigationManager
@*    
@if (post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>@post.Id</h3>
    <p>@nameof(post.Pinned): @post.Pinned</p>
    <p>@nameof(post.Archive): @post.Archive</p>
    <p>@nameof(post.Date): @post.Date</p>
    <p>@nameof(post.Text): @post.Text</p>
    <AuthorizeView Roles="Administrator">
        <button class="btn btn-danger" @onclick="DeleteAsync">Delete</button>
    </AuthorizeView>
}

@code {
    private PostDto.Detail post;
    [Parameter] public int Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        post = await PostService.GetDetailAsync(Id);
    }    

    private async Task DeleteAsync()
    {
        await PostService.DeleteAsync(post.Id);
        NavigationManager.NavigateTo("/post");
    }
}*@